/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
}


.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-add {
    background-color: #e0e0e0;
}

.btn-create {
    background-color: #28a745;
    color: white;
}

.recent-groups {
    font-size: 18px;
    margin-bottom: 10px;
}

.groups-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.group-card {
    position: relative;
    padding: 15px;
    height:auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
}
.group-card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);

}
.main-container{
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    position: absolute; 
}


.group-name {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
    color: #333;
}

.group-date {
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.group-size {
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.group-delete{
    font-size: 14px;
    color: #666;
    position: absolute;
    bottom: 45px;
    right: 15px;
}
.group-delete-button{
    z-index: 50;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    transition: all 0.3s;
}
.group-delete-button:hover{
    transform: scale(1.3);
}

/* Responsive Styles */

/* Adjustments for screens smaller than 1200px */
@media (max-width: 1200px) {
    .main-container {
        margin-top: 80px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

/* Adjustments for screens smaller than 992px */
@media (max-width: 992px) {
    .main-container {
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* Adjustments for screens smaller than 768px */
@media (max-width: 768px) {
    .main-container {
        margin-top: 80px;
        padding: 0 10px;
    }

    .group-card {
        padding: 10px;
    }

    .group-name {
        font-size: 18px;
    }

    .group-date, .group-size, .group-delete {
        font-size: 12px;
    }
}

/* Adjustments for screens smaller than 576px */
@media (max-width: 576px) {
    .groups-container {
        grid-template-columns: 1fr; /* One column layout for very small screens */
    }

    .main-container {
        margin-top: 80px;
        padding: 0 5px;
    }

    .group-card {
        padding: 8px;
    }

    .group-name {
        font-size: 16px;
    }

    .group-date, .group-size, .group-delete {
        font-size: 10px;
    }
}
