<div th:fragment="navBar">
    <link rel="stylesheet" th:href="@{/navBar.css}" />
    <nav class="navbar-zxq47">
        <div class="navbar-brand-lpq92">
            <a th:href="@{/user/home}" class="navbar-logo-tgq39">FairShare</a>
        </div>
        <ul class="navbar-links-wms84">
            <li><a th:href="@{/user/home}">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Expenses</a></li>
            <li><a href="#">Groups</a></li>
            <li><a href="#" id="profileIcon" class="profile-icon-ytn62" onclick="openProfileModal()" style="border-bottom: none;">
                <img th:src="@{/admin.png}" alt="Profile">
            </a></li>
        </ul>
    </nav>

    <!-- Modal -->
    <div id="profileModal" class="modal-qwr37">
        <div class="modal-content-kdx45">
            <span class="close-rpc29" onclick="closeProfileModal()">&times;</span>
            <h2>User Profile</h2>
            <p id="username">Welcome , <span th:text="${#authentication.principal.getName()}"></span></p>
            <button class="logout-button-pmc18" onclick="logout()">Logout</button>
        </div>
    </div>
    <script th:src="@{/navBar.js}"></script>
</div>