<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Information - FairShare</title>
    <link rel="stylesheet" th:href="@{/createGroup.css}" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div th:replace="fragments/navBar :: navBar"></div>
    </header>
    <main>
      <div class="container">
        <div class="group-container">
          <div class="group-info">
            <h2>Group Information</h2>
            <div class="form-side">
              <div class="form-group">
                <label for="groupName">Group Name</label>
                <input
                  type="text"
                  id="groupName"
                  placeholder="Enter a name for your group"
                  required
                />
                <small>give a name for your group.</small>
              </div>
              <div class="form-group">
                <label for="currencySymbol">Currency</label>
                <select id="currencySymbol" required>
                  <option value="$">$</option>
                  <option value="€">€</option>
                  <option value="£">£</option>
                </select>
                <small>We’ll use it to display amounts.</small>
              </div>
              <div class="form-group">
                <label for="groupType">Type</label>
                <select id="groupType" required>
                  <option value="trip">Trip </option>
                  <option value="home">Home</option>
                  <option value="team-outing">Team Outing</option>
                  <option value="date">Date</option>
                </select>
                <small>We’ll use it classyfy group.</small>
              </div>
            </div>
          </div>
        </div>

        <div class="participants-container">
          <div class="participants">
            <h2>Participants</h2>
            <small>Enter the name of the participant</small>

            <div class="search-container">
              <span class="search-icon"><i class="fas fa-search"></i></span>
              <input
                type="text"
                id="participantSearch"
                placeholder="Search"
                onkeyup="searchParticipants()"
              />
            </div>
            <div id="search-results" class="search-results">
                <select id="searchResults" class="search-results" size="3" onchange="selectParticipant(this)" style="height: fit-content;margin-top: -8px; margin-left: 10px; width: fit-content; display: none; "></select>
            </div>
            <div id="participantsList">
              <!-- <div class="participant">
                <input type="text" placeholder="Participant Name" required />
                <button
                  class="remove-participant"
                  onclick="removeParticipant(this)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div> -->
            </div>
            <!-- <small>Enter the name of the participant</small> -->
            <!-- <button class="add-participant" onclick="addParticipant()">
              <i class="fas fa-add"></i> Invite
            </button> -->
          </div>
        </div>
        <div class="actions">
          <button class="create-button" onclick="createGroup()">
            <i class="fas fa-save"></i> Create
          </button>
          <button class="cancel-button" onclick="clearParticipants()">
            <i class="fas fa-times"></i> Cancel
          </button>
        </div>
      </div>
    </main>
    <script th:src="@{/createGroup.js}"></script>
    <script th:inline="javascript">
      let users = /*[[${users}]]*/ [];
    </script>
  </body>
</html>
