<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My FairShare - Dashboard</title>
    <link rel="stylesheet" th:href="@{/expense.css}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div th:replace="fragments/navBar :: navBar"></div>
    </header>
    <div class="mf-dashboard-container">
      <nav class="mf-nav">
        <button class="mf-nav-btn exp-btn active">Expenses</button>
        <button class="mf-nav-btn bln-btn">Balances</button>
        <button class="mf-nav-btn sts-btn">Stats</button>
        <button class="mf-nav-btn set-btn">Settings</button>
      </nav>
      <main class="mf-main-content">
        <!-- Existing Expenses Section -->
        <div class="mf-expenses-container mf1">
          <div style="display: flex; justify-content: space-between">
            <h2>Expenses</h2>
            <button class="add-exp-btn">
              <i class="fas fa-plus" style="color: white"></i>
            </button>
          </div>
          <p>Here are the expenses that you created for your group.</p>
          <div class="mf-search-bar">
            <input
              type="text"
              id="searchInput"
              placeholder="Search for an expense..."
              onkeyup="filterExpenses()"
            />
          </div>
          <div class="mf-expenses-list" id="expensesList">
            <div th:each="expense : ${expenses}" class="mf-expense-item" >
              <div class="mf-expense-info">
                <div class="mf-expense-icon" th:switch="${expense.expenseType}">
                  <span th:case="'General'">
                    <img
                      width="32"
                      height="32"
                      src="https://img.icons8.com/windows/32/1A1A1A/money.png"
                      alt="money"
                    />
                  </span>

                  <span th:case="'Payment'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/card-in-use.png"
                      alt="card-in-use"
                    />
                  </span>
                  <span th:case="'Entertainment'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/retro-tv.png"
                      alt="retro-tv"
                    />
                  </span>

                  <span th:case="'Movies'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/film-reel--v1.png"
                      alt="film-reel--v1"
                    />
                  </span>

                  <span th:case="'Tickets'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/two-tickets.png"
                      alt="two-tickets"
                    />
                  </span>

                  <span th:case="'Food and Drink'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/food-bar.png"
                      alt="food-bar"
                    />
                  </span>

                  <span th:case="'Groceries'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/fast-moving-consumer-goods.png"
                      alt="fast-moving-consumer-goods"
                    />
                  </span>

                  <span th:case="'Liquor'">
                    <img
                      width="64"
                      height="64"
                      src="https://img.icons8.com/wired/64/1A1A1A/whiskey.png"
                      alt="whiskey"
                    />
                  </span>

                  <span th:case="'Gifts'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/gift--v1.png"
                      alt="gift--v1"
                    />
                  </span>

                  <span th:case="'Transportation'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/ground-transportation.png"
                      alt="ground-transportation"
                    />
                  </span>

                  <span th:case="'Gas/Fuel'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/gas-station.png"
                      alt="gas-station"
                    />
                  </span>

                  <span th:case="'Hotel'">
                    <img
                      width="50"
                      height="50"
                      src="https://img.icons8.com/ios/50/1A1A1A/3-star-hotel.png"
                      alt="3-star-hotel"
                    />
                  </span>
                </div>
                <div>
                  <div
                    class="mf-expense-name"
                    th:text="${expense.expenseName}"
                  ></div>
                  <div class="mf-expense-details">
                    <span
                      th:text="'Paid by ' + ${expense.expensePayer.firstName} + ' for '"
                    ></span>
                    <span
                      th:each="user : ${expense.expensePayedTo}"
                      th:text="${user.firstName} + ' '"
                    ></span>
                  </div>
                </div>
              </div>
              <div
                class="mf-expense-amount"
                th:text="${expense.currency} + ${expense.amount}"
              >
                Amount
              </div>
              <div class="mf-expense-date" th:text="${expense.expenseDate}">
                Date
              </div>
              <button th:onclick="'deleteExpense(' + ${expense.expenseId} + ')'" class="expense-delete-button">
                <i class="fas fa-trash" ></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mf-create-expense-container mf3" style="display: none">
          <h2>Create expense</h2>
          <form
            th:action="@{/expenses/add-expense/{groupId}(groupId=${groupId})}"
            th:object="${expenseDTO}"
            method="post"
          >
            <input type="hidden" th:field="*{groupId}" th:value="${groupId}" />
            <div class="mf-form-row">
              <div class="mf-form-column">
                <div class="form-group">
                  <label for="expense-title">Expense title</label>
                  <input
                    type="text"
                    id="expense-title"
                    th:field="*{expenseName}"
                    placeholder="Enter a description for the expense"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="expense-category">Category</label>
                  <select id="expense-category" th:field="*{expenseType}" required>
                    <option value="General">General</option>
                    <option value="Payment">Payment</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Movies">Movies</option>
                    <option value="Tickets">Tickets</option>
                    <option value="Food and Drink">Food and Drink</option>
                    <option value="Groceries">Groceries</option>
                    <option value="Liquor">Liquor</option>
                    <option value="Gifts">Gifts</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Gas/Fuel">Gas/Fuel</option>
                    <option value="Hotel">Hotel</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="expense-paid-by">Paid by</label>
                  <select id="expense-paid-by" th:field="*{expensePayerId}" required>
                    <option value="">Select a participant</option>
                    <option
                      th:each="member : ${groupMembers}"
                      th:value="${member.userId}"
                      th:text="${member.firstName + ' ' + member.lastName}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="mf-form-column">
                <div class="form-group">
                  <label for="expense-date">Expense date</label>
                  <input
                    type="date"
                    id="expense-date"
                    th:field="*{expenseDate}"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="expense-amount">Amount</label>
                  <input
                    type="number"
                    id="expense-amount"
                    th:field="*{amount}"
                    value="0"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="mf-paid-for-container">
              <h3>Paid for</h3>
              <p>Select who the expense was paid for.</p>
              <ul>
                <li th:each="member : ${groupMembers}">
                  <input
                    type="checkbox"
                    th:field="*{expensePayedToIds}"
                    th:value="${member.userId}"
                    th:id="${'member_' + member.userId}" style="width: auto;"
                  />
                  <label th:for="${'member_' + member.userId}">
                    <span th:text="${member.firstName}"></span>
                    <span
                      th:if="${member.lastName != null}"
                      th:text="' ' + ${member.lastName}"
                    ></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="form-group">
              <button type="submit"><i class="fas fa-save"></i> Save</button>
            </div>
          </form>
        </div>

        <div class="mf-expenses-container1 mf4" style="display: none">
          <div class="mf-expenses-container1-title">
            <h2>Totals</h2>
            <p>Spending summary of the entire group.</p>
          </div>

          <h4>Total group spendings:</h4>
          <p
            class="mf-expenses-container1-currency"
            th:text="${currency + ' ' + totalGroupSpending}"
          ></p>
        </div>

        <!-- New Balances and Suggested Reimbursements Section -->
        <div class="mf-balances-container mf5" style="display: none">
          <div class="mf-balances">
            <h2>Balances</h2>
            <p>
              This is the amount that each participant paid or was paid for.
            </p>
            <div class="mf-balance-list">
              <!-- Iterate over the balances -->
              <div
                th:each="balance : ${balances}"
                class="mf-balance"
                th:class="${balance.value >= 0 ? 'mf-balance positive' : 'mf-balance negative'}"
              >
                <span class="mf-name" th:text="${balance.key}"></span>
                <span
                  class="mf-amount"
                  th:text="${currency + ' ' + balance.value}"
                ></span>
              </div>
            </div>
          </div>
          <div class="mf-reimbursements">
            <h2>Suggested reimbursements</h2>
            <p>
              Here are suggestions for optimized reimbursements between
              participants.
            </p>
            <div class="mf-reimbursement-list">
              <div
                th:each="reimbursement : ${reimbursements}"
                class="mf-reimbursement"
              >
                <span class="mf-details">
                  <b th:text="${reimbursement.from}"></b> owes
                  <b th:text="${reimbursement.to}"></b>
                </span>
                <a
                  href="#"
                  class="mf-mark-paid"
                  onclick="markAsPaid(event)"
                >Mark as Paid</a>
                <span
                  class="mf-amount"
                  th:text="${currency + ' ' + reimbursement.amount}"
                ></span>
              </div>
            </div>
          </div>
        </div>


          <div class="container mf6" style="display: none;">
            <div class="group-container">
              <div class="group-info">
                <h2>Group Information</h2>
                <div class="form-side">
                  <div class="form-group">
                    <label for="groupName">Group Name</label>
                    <input
                      type="text"
                      id="groupName"
                      placeholder="Enter a name for your group"
                      required 
                      th:value="${group.groupName}"
                    />
                    <small>give a name for your group.</small>
                  </div>
                  <div class="form-group">
                    <label for="currencySymbol">Currency</label>
                    <select id="currencySymbol" required disabled>
                      <option th:text="${currency}"></option>
                    </select>
                    <small>We’ll use it to display amounts.</small>
                  </div>
                  <div class="form-group">
                    <label for="groupType">Type</label>
                    <select id="groupType" required disabled>
                      <option th:text="${group.groupType}"></option>                 
                    </select>
                    <small>We’ll use it to classify group.</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="participants-container">
              <div class="participants">
                <h2>Participants</h2>
                <small>Enter the email of the participant</small>
    
                <div class="search-container">
                  <span class="search-icon"><i class="fas fa-search"></i></span>
                  <input
                    type="text"
                    id="participantSearch"
                    placeholder="Search"
                    onkeyup="searchParticipants()"
                  />
                </div>
                <div id="search-results" class="search-results">
                    <select id="searchResults" class="search-results" size="3" onchange="selectParticipant(this)" style="height: fit-content;margin-top: -8px; margin-left: 10px; width: fit-content; display: none; "></select>
                </div>
                <div id="participantsList">
                <div th:each="member : ${group.groupMembers}" class="participant">
                  <input type="text" placeholder="Participant Name" th:value="${member.firstName}">
                  <button class="remove-participant" onclick="removeParticipant(this)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="actions">
              <button class="create-button" th:onclick="'updateGroup(' + ${group.groupId} + ')'">
              <i class="fas fa-save"></i> Update
              </button>
              <button class="cancel-button" onclick="clearParticipants()">
                <i class="fas fa-times"></i> Cancel
              </button>
            </div>
          </div>
      </main>
    </div>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script th:src="@{/expense.js}"></script>
<script th:src="@{/createGroup.js}"></script>
<script th:inline="javascript">
  let users = /*[[${users}]]*/ [];
</script>
